@charset "UTF-8";
/* montserrat-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("☺"), url("../fonts/montserrat-v25-cyrillic_latin-regular.woff2") format("woff2"), url("../fonts/montserrat-v25-cyrillic_latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local("☺"), url("../fonts/montserrat-v25-cyrillic_latin-500.woff2") format("woff2"), url("../fonts/montserrat-v25-cyrillic_latin-500.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local("☺"), url("../fonts/montserrat-v25-cyrillic_latin-600.woff2") format("woff2"), url("../fonts/montserrat-v25-cyrillic_latin-600.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("☺"), url("../fonts/montserrat-v25-cyrillic_latin-700.woff2") format("woff2"), url("../fonts/montserrat-v25-cyrillic_latin-700.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
h1,
h2,
h3,
h4,
a,
body,
p,
div,
li {
  font-family: "Montserrat", sans-serif;
}

body,
p,
div,
li {
  color: #535353;
}

ol {
  padding: 0;
}

ul li {
  cursor: default;
}

fieldset {
  border: none;
}

body.is_scrolled .header-info {
  padding-bottom: 60px;
}

.menu-wrapper-inner {
  width: 100%;
  display: flex;
  max-width: 1170px;
  justify-content: space-between;
}

.menu-hover__body {
  justify-content: flex-start;
}

.hover-li {
  padding: 0;
}

.hover-li .header-menu__el {
  padding: 24px;
  display: block;
}

.header-nav > li:first-child {
  padding: 0;
}

.burger-item__info {
  padding: 0;
}

.burger-item__info .hover-menu-title {
  padding: 23px 0 23px 21px;
  display: block;
  margin-right: 50px;
}

.burger-item__info .burger-logo {
  top: 50%;
  right: 20px;
  position: relative;
  transform: translateY(-50%);
}

.burger-menu {
  cursor: pointer;
}

.search-btn__wrapper {
  width: 40px;
  height: 40px;
}

.mobile-icon,
.menu-icon {
  height: 11px;
}

.mobile-icon::after,
.mobile-icon::before,
.menu-icon::before,
.menu-icon::after {
  height: 1px;
}

.mobile-icon span,
.menu-icon span {
  top: 5px;
  height: 1px;
}

.second-menu {
  padding: 0;
}

.second-menu__item {
  padding: 23px;
}

.container-fluid-row,
.container-fluid-row-full-width > .row-fluid {
  max-width: 1210px;
}

.ut2-extra-block-title .ty-mainbox-title {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 4px;
  text-transform: uppercase;
}

.ty-breadcrumbs__a {
  color: #333333;
  height: auto;
  line-height: 1.5;
}

.ty-breadcrumbs__slash {
  color: #333333;
  height: 1em;
  margin: 0 5px 0 11px;
  font-size: 18px;
  vertical-align: baseline;
}

.ut2-extra-block-title .ty-breadcrumbs {
  border: none;
}

.ty-subcategories__item {
  margin: 0 0 0 30px;
  padding: 0;
}

.ty-subcategories__item.cat-img {
  flex: 1 1 calc(25% - 30px);
  border: none;
  margin: 30px 0 0 30px !important;
  padding: 0;
  overflow: hidden;
  max-width: calc(25% - 30px);
}

.ty-subcategories__item.cat-img a {
  display: block;
}

.ty-subcategories-img {
  width: 100% !important;
  height: 169px;
  -o-object-fit: cover;
  object-fit: cover;
}

.subcategories {
  padding: 10px 0 27px;
  margin-top: -30px;
  margin-left: -30px;
}

.subcategories-popular-wrapper {
  padding: 33px 0 27px;
  position: relative;
}

.subcategories-popular {
  padding: 0;
  overflow: hidden;
  max-height: 3.1em;
  margin-left: -40px;
  margin-top: -1.5em;
}

.subcategories-popular-wrapper._expanded .subcategories-popular {
  max-height: none;
}

.subcategories-popular .ty-subcategories__item {
  margin-top: 1.5em;
  margin-left: 40px;
}

.popular-button {
  right: 0;
  color: #333;
  bottom: 29px;
  border: none;
  cursor: pointer;
  padding: 0;
  padding: 0 0 0 10px;
  position: absolute;
  font-size: 16px;
  margin-top: 0;
  box-shadow: -4px 0 4px #fff;
  margin-left: 0;
  font-weight: 700;
  vertical-align: bottom;
  background-color: #fff;
}

.subcategories-popular-wrapper._expanded .popular-button {
  transform: translateY(150%);
}

.popular-button::before {
  content: attr(data-title);
  vertical-align: middle;
}

.subcategories-popular-wrapper._expanded .popular-button::before {
  content: attr(data-second-title);
}

.popular-button-title {
  display: none;
}

.popular-button-icon {
  width: 16px;
  color: #fff;
  height: 16px;
  margin: 0 0 0 3px;
  display: inline-block;
  font-size: 15px;
  transform: translateZ(0);
  line-height: 1;
  font-weight: 600;
  border-radius: 50%;
  vertical-align: middle;
  background-color: #333;
}

.popular-button-icon::before {
  content: "+";
}

.subcategories-popular-wrapper._expanded .popular-button-icon::before {
  content: "-";
}

.ty-subcategories-img {
  padding: 0;
}

.ty-subcategories__item span {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.375;
}

.ty-subcategories__item img + span {
  height: auto;
  padding: 0;
  text-align: left;
  margin-top: 25px;
  font-weight: 500;
  justify-content: flex-start;
}

.ty-subcategories__item.cat-img:hover {
  border: none;
  box-shadow: none;
}

.ty-select-block,
.ty-sort-dropdown__content,
.ty-dropdown-box__content,
.ty-horizontal-product-filters-dropdown__content {
  width: 100%;
  box-shadow: 0 0 0 1px #d9d9d9;
}

.ty-sort-dropdown__content-item-a:not(:last-child) {
  border-bottom: 1px solid #d9d9d9;
}

.ty-product-filters__group [type=checkbox]:checked + label {
  color: #535353;
  font-weight: 400;
}

.ty-product-filters__group [type=checkbox]:not(:checked) + label {
  color: #535353;
}

.ty-product-filters__group [type=checkbox]:not(:checked) + label,
.ty-product-filters__group [type=checkbox]:checked + label {
  line-height: 1;
  padding-left: 25px;
}

.ut2-filters .ty-product-filters__group {
  margin: 0 5px 6px 0;
}

.ty-product-filters__group [type=checkbox]:not(:checked) + label:before,
.ty-product-filters__group [type=checkbox]:checked + label:before {
  top: 5px;
  width: 15px;
  height: 15px;
  border-radius: 0;
}

.ty-product-filters__group [type=checkbox]:not(:checked) + label:after,
.ty-product-filters__group [type=checkbox]:checked + label:after {
  top: 5px;
  width: 15px;
  color: #333;
  height: 15px;
  border: 1px solid #ffd600;
  font-size: 12px;
  text-align: center;
  background: #ffd600;
  font-weight: 400;
  line-height: 14px;
  border-radius: 0;
}

input[type=text],
input[type=password],
input[type=tel],
input[type=number],
textarea,
select {
  font-family: inherit;
}

input[type=text]:hover,
input[type=text]:focus,
input[type=password]:hover,
input[type=password]:focus,
textarea:hover,
textarea:focus,
select:hover,
select:focus {
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.main-content-grid,
.side-grid {
  margin-top: 33px !important;
  padding-bottom: 30px;
}

.ut2-filters .ty-product-filters__wrapper fieldset {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.ut2-filters .ty-product-filters__switch {
  padding: 15px 0 16px;
}

.side-grid #mse2_filters .mse2_number_slider {
  order: 1;
  margin-top: 21px;
  margin-bottom: 18px;
}

#mse2_filters .mse2_number_inputs label {
  position: relative;
  font-size: 0;
}

#mse2_filters .mse2_number_inputs label span {
  top: 10px;
  left: 11px;
  color: #5c5c5c;
  position: absolute;
  font-size: 14px;
  text-transform: lowercase;
}

.mse2_number_inputs .form-group .input-sm {
  width: 100%;
  border: 1px solid #d9d9d9;
  padding-left: 37px;
  border-radius: 0;
}

.filter_title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  margin-bottom: 12px;
}

.mse2_number_inputs > * {
  width: calc(50% - 7px);
}

.mse2_number_inputs {
  justify-content: space-between;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: none;
  background: #ffd600;
}

.ui-slider .ui-slider-range {
  font-size: 0.2em;
}

.ui-widget-content {
  border: none;
  background: #d9d9d9;
}

.ui-slider-horizontal {
  height: 0.4em;
}

.ui-widget-header {
  background: #ffd600;
}

.ui-slider-horizontal .ui-slider-handle {
  top: -0.4em;
}

.ut2-filters .ty-product-filters__switch .ty-product-filters__title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}

.ty-sort-container {
  border: none;
  padding: 17px 22px 15px;
  box-shadow: 0 0 0 1px #d9d9d9;
}

.ty-product-list {
  margin: 0;
  border: none;
  padding: 3px 4px 15px;
  box-shadow: 0 0 0 1px #d9d9d9;
}

.main-content-grid #mse2_results {
  margin: 0 0 0 1px;
}

.mse2_results--flex > * {
  flex: 1 1 33.3333%;
  max-width: 33.3333%;
}

.ty-sort-dropdown__wrapper {
  height: 33px;
  padding: 0 26px;
  font-weight: 400;
}

.ty-sort-dropdown__wrapper > span {
  margin-bottom: 0;
  border-bottom: none;
}

.ty-sort-dropdown__wrapper i {
  margin-left: 5px;
}

.ty-sort-dropdown__content-item-a {
  font-weight: 400;
}

.ty-product-list__body .ut2-pl__image {
  width: 100%;
  max-width: 100%;
  min-height: 100px;
}

.ty-product-list__body .ut2-pl__image img {
  height: 212px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ty-product-list__col {
  padding: 0 15px;
}

.ty-product-list .ut2-pl__item-name a {
  color: #333333;
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.375;
}

.ty-product-list .ut2-pl__list-buttons {
  top: 10px;
  right: 10px;
  width: auto;
  position: absolute;
}

.ut2-sorting-wrap .ty-sort-dropdown:first-child {
  box-shadow: 0 0 0 1px #d9d9d9;
  padding-left: 0;
}

.ut2-sorting-wrap .ty-sort-dropdown:first-child::before {
  content: "";
}

.ut2-quick-view-button,
.ut2-add-to-wish:not(.label),
.ut2-add-to-compare:not(.label) {
  width: 32px;
  float: right;
  height: 32px;
}

.ut2-quick-view-button:hover,
.ut2-add-to-wish:not(.label):hover,
.ut2-add-to-compare:not(.label):hover {
  background-color: #ffc700;
}

.ut2-quick-view-button:hover i,
.ut2-add-to-wish:not(.label):hover i,
.ut2-add-to-compare:not(.label):hover i {
  color: #fff;
}

.ty-product-list .ut2-pl__list-buttons a:first-child {
  border-radius: 0;
}

.ut2-quick-view-button i,
.ut2-add-to-wish:not(.label) i,
.ut2-add-to-compare:not(.label) i {
  color: #ffc700;
  font-size: 17px;
  line-height: 18px;
}

.ty-product-list__body .ty-price-update .ty-price-num {
  font-size: 20px;
  font-weight: 600;
}

.ty-sort-container #mse2_selected_wrapper {
  margin: 0;
  min-height: 0;
}

.ty-sort-container__views-icons {
  display: none;
}

.ty-product-list .ut2-pl__qty .ty-qty {
  margin-bottom: 0;
}

.ty-price-num {
  font-family: inherit;
}

.ut2-gl__qty,
.ut2-pl__qty {
  flex: 1 1 auto;
  float: none;
  max-width: 110px;
  margin-left: 15px;
}

.ut2-gl__qty > div,
.ut2-pl__qty > div {
  width: 100%;
  margin-right: 10px;
}

.ut2-pl__feature .ty-control-group span,
.ut2-pl__feature .ty-control-group em,
.ut2-gl__feature .ty-control-group span,
.ut2-gl__feature .ty-control-group em,
.ty-features-list .ty-control-group span,
.ty-features-list .ty-control-group em {
  text-align: left;
}

.ty-product-list__body .ut2-pl__price > div:first-child {
  flex-shrink: 0;
}

.ty-product-list__body .ty-price-update {
  font-size: inherit;
  margin-right: 6px;
}

.ty-btn {
  font-family: inherit;
  font-weight: 400;
}

.ty-btn i {
  font-size: 20px;
  color: #333333;
}

.ty-btn__primary {
  color: #333333;
}

.ty-btn__primary:hover {
  color: #000;
}

.ty-product-list__body .ty-cr-product-button {
  border: 1px solid #333;
  background-color: #fff;
}

.ty-product-list__body .ut2-pl__btns {
  flex-direction: column;
}

.ty-product-list .ut2-pl__price {
  flex-direction: row;
  padding-bottom: 10px;
  justify-content: space-between;
}

.ty-product-list .ty-btn__primary {
  background-color: #ffd600;
}

.ty-price {
  color: #535353;
  margin: 0;
}

.ut2-pl__price [class^=cm-reload] + [class^=cm-reload] .ty-price {
  color: #d75150;
}

.ty-strike {
  color: inherit;
  text-decoration: line-through;
}

.ty-strike .ty-list-price {
  color: inherit;
}

.ty-product-list .ut2-pl__price .ty-strike .ty-list-price {
  font-size: inherit;
  padding-bottom: 0;
  text-decoration: none;
}

.ty-cr-product-button span,
.ty-product-filters__reset-button span {
  max-width: 100%;
}

.ty-control-group {
  margin: 0 0 14px 0;
}

.ty-list-price {
  font-size: 16px;
  padding-bottom: 0;
  vertical-align: middle;
}

.ty-product-list__body .ut2-pl__control {
  padding-top: 0;
}

.cm-units {
  margin-left: 7px;
  padding-top: 3px;
}

.ut2-pl__feature .ty-control-group:after,
.ut2-gl__feature .ty-control-group:after,
.ty-features-list .ty-control-group:after {
  content: normal;
}

.ut2-pl__feature .ty-control-group,
.ut2-gl__feature .ty-control-group,
.ty-features-list .ty-control-group {
  width: 100%;
  margin: 0 0 13px;
}

.ut2-pl__feature .ty-control-group span,
.ut2-pl__feature .ty-control-group em,
.ut2-gl__feature .ty-control-group span,
.ut2-gl__feature .ty-control-group em,
.ty-features-list .ty-control-group span,
.ty-features-list .ty-control-group em {
  width: auto;
  color: #535353;
  margin-right: 3px;
}

.ut2-pl__feature .ty-control-group span:before,
.ut2-pl__feature .ty-control-group em:before,
.ut2-gl__feature .ty-control-group span:before,
.ut2-gl__feature .ty-control-group em:before,
.ty-features-list .ty-control-group span:before,
.ty-features-list .ty-control-group em:before {
  content: normal;
}

.ut2-pl__feature .ty-control-group > span.ty-product-feature__label,
.ut2-gl__feature .ty-control-group > span.ty-product-feature__label,
.ty-features-list .ty-control-group > span.ty-product-feature__label {
  font-weight: 500;
}

.ty-product-list .ut2-pl__item-name {
  margin-bottom: 9px;
}

.ty-product-list__body .ut2-pl__btns > * {
  width: 100%;
  height: 45px;
  max-width: 100%;
  border-radius: 0;
}

.ty-value-changer {
  width: 100%;
  height: 40px;
  border: 1px solid #f2f2f2;
  display: flex;
  flex-direction: row-reverse;
}

.ty-qty input.ty-value-changer__input,
.quantity input.ty-value-changer__input {
  flex: 0 1 auto;
  float: none;
  width: 33.3333%;
  height: 100%;
  border: none;
  padding: 0;
  border-radius: 0;
}

.ty-qty .ty-value-changer .ty-value-changer__increase,
.ty-qty .ty-value-changer .ty-value-changer__decrease,
.quantity .ty-value-changer .ty-value-changer__increase,
.quantity .ty-value-changer .ty-value-changer__decrease {
  flex: 1 0 33.3333%;
  float: none;
  color: #2f2f2f;
  width: 33.3333%;
  height: 100%;
  border: none;
  font-weight: 400;
  line-height: 38px;
  border-radius: 0;
  background-color: #f2f2f2;
}

.ty-qty a + input.ty-value-changer__input,
.quantity a + input.ty-value-changer__input {
  border-radius: 0;
}

.ty-qty-in-stock,
.ty-qty-out-of-stock {
  font-size: 13px;
}

.ty-qty-in-stock {
  color: #36844c;
}

.ty-qty-out-of-stock {
  color: #d75150;
}

.ty-qty-in-stock::before,
.ty-qty-out-of-stock::before {
  width: 0.615em;
  height: 0.615em;
  content: "";
  margin-top: 1px;
  margin-right: 5px;
  border-radius: 50%;
  background-color: currentColor;
}

.ty-product-list__badge-list {
  top: 10px;
  left: 15px;
  flex-direction: row;
}

.ty-product-list__badge-list > * + * {
  margin-top: auto;
  margin-left: 8px;
}

.badge {
  color: #fff;
  width: 40px;
  height: 40px;
  padding: 0;
  min-width: 0;
  font-size: 13px;
  min-height: 0;
  border-radius: 50%;
}

.ty-product-list__badge--hit {
  font-size: 14px;
  background-color: #fe6d10;
}

.ty-product-list__badge--new {
  background-color: #58a76e;
}

.ty-product-list__badge--promotion {
  font-size: 20px;
  background-color: #d75150;
}

.ab__sf_cat_desc {
  float: right;
  width: calc(100% - 291px);
  padding-top: 50px;
}

.mse2_pagination {
  float: right;
  width: calc(100% - 291px);
}

.ty-pagination {
  padding: 0;
  text-align: left;
}

.ty-pagination__item,
.ty-pagination__selected {
  border: none;
  height: 45px;
  min-width: 45px;
  font-weight: 400;
  line-height: 45px;
  border-radius: 50px;
}

.ty-pagination__selected {
  background: #ffd600;
  font-weight: 500;
  border-color: #ffd600;
}

.ty-pagination__item.ty-pagination__btn,
.ty-pagination__selected.ty-pagination__btn {
  display: none;
}

/** product page  **/
.ty-product-block {
  margin: 5px 0 30px;
}

.ut2-pb__title {
  color: #333;
  margin: 17px 0 4px;
  font-weight: 600;
}

.ut2-pb .ty-product-thumbnails .ty-product-thumbnails__item {
  border: 1px solid transparent;
  padding: 0;
}

.ut2-pb .ty-product-thumbnails__item.active,
.ut2-pb .ty-product-thumbnails__item:hover {
  border-radius: 0;
}

.ut2-pb .ty-product-thumbnails .ty-product-thumbnails__item.active {
  border-color: #333;
}

.card-c {
  box-shadow: 0 0 0 1px #d9d9d9;
  border-radius: 0;
}

/** wysiwyg **/
.ty-mainbox-body .ty-wysiwyg-content,
.ut2-cat-container .ty-wysiwyg-content,
.ty-wysiwyg-content[class*=description]:not(.content-features) {
  padding: 20px 25px;
}

.ty-wysiwyg-content {
  line-height: 2;
}

.ty-wysiwyg-content * {
  font-size: 16px;
}

.ty-wysiwyg-content p,
.ty-wysiwyg-content table {
  padding: 0 0 2em;
}

.ty-wysiwyg-content ul {
  list-style-type: none;
}

.ty-wysiwyg-content ul,
.ty-wysiwyg-content ol {
  margin-left: 1.6em;
}

.ty-wysiwyg-content li {
  padding: 0;
}

.ty-wysiwyg-content ul li {
  position: relative;
}

.ty-wysiwyg-content ul li::before {
  left: -0.55em;
  content: "·";
  position: absolute;
  font-size: 1.9em;
  line-height: 1em;
  vertical-align: -0.1em;
}

.ty-wysiwyg-content h2 {
  font-size: 24px;
  font-weight: 600;
}

.ty-wysiwyg-content h3 {
  font-size: 20px;
  font-weight: 600;
}

.ty-wysiwyg-content h1,
.ty-wysiwyg-content h2,
.ty-wysiwyg-content h3 {
  color: #333333;
  margin-top: 2em;
  line-height: 1.2;
  margin-bottom: 0.6em;
}

.ty-wysiwyg-content table {
  margin: -5px;
  max-width: 100%;
  overflow-x: auto;
  text-align: center;
  border-spacing: 5px;
  border-collapse: separate;
}

.ty-wysiwyg-content td,
.ty-wysiwyg-content th {
  width: 200px;
  padding: 0.4em 0.8em;
  min-width: 150px;
}

.ty-wysiwyg-content table > *:first-child > *:first-child td {
  color: #fff;
  background: #333;
  font-weight: 500;
}

.ty-wysiwyg-content table *:not(:first-child) > td {
  border: 1px solid #d9d9d9;
}

/** standalone **/
.ab__motivation_block {
  margin-bottom: 15px;
  max-width: 550px;
}

.ab__mb_items.ab-mb-live-editor .cm-tooltip {
  display: none;
}

.ab__mb_item-description {
  padding: 0 15px;
}

.ab__mb_item-description .ab-mb-style-presets {
  color: #404040;
}

.ab__mb_item-description .ab-mb-style-presets div {
  color: #404040;
}

.ab__mb_item-description .ab-mb-style-presets.ty-wysiwyg-content {
  position: relative;
}

.ab__mb_item-description .ab-mb-style-presets.ty-wysiwyg-content ul {
  margin: 10px 15px;
  padding-left: 0 !important;
}

.ab__mb_item-description .ab-mb-style-presets.ty-wysiwyg-content ul li {
  padding: 2px 0;
  list-style-position: inside;
  list-style-type: none;
  color: #404040;
}

.ab__mb_item-description .ab-mb-style-presets.ty-wysiwyg-content p {
  display: flex;
  align-items: center;
  color: #404040;
}

.ab__mb_item-description .ab-mb-style-presets.ty-wysiwyg-content i {
  font-size: 18px;
  margin-right: 7px;
  color: #404040;
}

.ab__mb_item-description .ab-mb-style-presets.ty-wysiwyg-content .ab-mb-prod-categories-list li {
  color: #737373;
}

.ab__mb_item-description .ab-mb-style-presets.ty-wysiwyg-content .ab-mb-prod-categories-list a:last-child {
  font-weight: bold;
}

.ab__mb_item-description .ab-mb-style-presets span.cm-tooltip {
  position: relative;
  top: 2px;
  left: 2px;
}

.ab__mb_item-description .ab-mb-style-presets span.cm-tooltip.right {
  right: 0;
  margin-right: 0;
}

.ab__mb_item-description .ab-mb-style-presets span.cm-tooltip.left {
  left: 0;
  margin-left: 0;
}

.ab__mb_item-description .ab-mb-style-presets span.cm-tooltip i {
  color: #646464;
  font-size: 14px;
  line-height: 0;
  margin: 0;
}

.ab__mb_item-description .ab-mb-style-presets span.cm-tooltip:hover i,
.ab__mb_item-description .ab-mb-style-presets span.cm-tooltip:focus i {
  color: #575757;
}

@media screen and (max-width: 768px) {
  .ab__mb_item-description span.cm-tooltip .ut2-icon-outline-info-circle {
    display: none;
  }
}
.ab__mb_item-description .desktop-hidden {
  display: none;
}

.ab__mb_item-description.padding-left {
  padding-left: 34px;
}

.redactor-box .cm-tooltip {
  display: none;
}

.ab__mb_item-name {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.ab__mb_items .ab__mb_item {
  padding: 13px 0;
  border-top: 1px solid #f0f0f0;
}

@media screen and (min-width: 768px) {
  .ab__mb_items .ab__mb_item {
    padding: 10px 0;
  }
  .ab__mb_items .ab__mb_item:first-child {
    border-top: 0 none;
    padding-top: 0;
  }
}
.ab__mb_items .ab__mb_item:last-child {
  padding-bottom: 0;
}

.ab__mb_items .ab__mb_item-name {
  word-break: break-all;
  word-break: break-word;
  font-weight: bold;
  font-size: 14px;
  transition: all 150ms;
}

.ab__mb_items .ab__mb_item-title {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 24px;
  width: 100%;
  padding-left: 15px;
  padding-right: 25px;
  color: #646464;
}

.ab__mb_items .ab__mb_item-title.open {
  margin-bottom: 10px;
}

.ab__mb_items .ab__mb_item-title.open.cm-combination:after,
.ab__mb_items .ab__mb_item-title:hover.cm-combination:after {
  color: #646464;
}

.ab__mb_items .ab__mb_item-title.cm-combination {
  padding-right: 35px;
}

.ab__mb_items .ab__mb_item-title.cm-combination:after {
  font-family: uni2-icons, sans-serif;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e908";
  font-size: 20px;
  color: #cacaca;
  position: absolute;
  right: 10px;
}

.ab__mb_items .ab__mb_item-title.cm-combination.open:after {
  transform: rotate(180deg);
}

.ab__mb_items .ab__mb_item-title.cm-combination img + div {
  padding-left: 10px;
}

.ab__mb_items .ab__mb_item-title .ty-pict {
  width: 24px;
  height: auto;
  max-height: 24px;
}

.ab__mb_items .ab__mb_item-icon {
  font-style: normal;
  margin-right: 7px;
  font-size: 24px;
  color: #646464;
}

.ab__mb_items .ab__mb_item:hover .ab__mb_item-name,
.ab__mb_items .ab__mb_item:hover .ab__mb_item-title.cm-combination:after {
  color: #646464 !important;
}

@media screen and (max-width: 768px) {
  .ab__mb_items.fill:not(.colored) .ab__mb_item .ab__mb_item-title.cm-combination {
    padding-left: 0;
  }
}
.ab__mb_items.framed {
  border: 2px solid #f0f0f0;
  border-radius: 18px;
}

.ab__mb_items.framed .ab__mb_item {
  padding: 11px 0 12px 0;
  background: none !important;
}

.ab__mb_items.framed .ab__mb_item-title.cm-combination.open:after,
.ab__mb_items.framed .ab__mb_item-title.cm-combination:hover:after {
  background: rgba(200, 200, 200, 0.3);
  border-radius: 18px;
}

.ab__mb_items.colored {
  border-radius: 18px;
}

.ab__mb_items.colored .ab__mb_item {
  margin-bottom: 3px;
  padding: 12px 0;
  border-top: 0 none;
}

.ab__mb_items.colored .ab__mb_item:last-child {
  margin-bottom: 0;
}

.ab__mb_items.colored.framed .ab__mb_item {
  padding: 11px 0 10px 0;
  border-color: #f0f0f0 !important;
}

.ab__mb_items.colored.framed .ab__mb_item:not(:first-child) {
  border-top: 1px solid #f0f0f0;
}

@media screen and (min-width: 768px) {
  .ut2-big-image .ab__mb_items {
    margin: 10px 0;
  }
  .ut2-big-image .ab__mb_items.fill:not(.colored) .ab__mb_item:first-child {
    border-top: 1px solid #f0f0f0;
    padding-top: 10px;
  }
  .ut2-big-image .ab__mb_items.fill:not(.colored) .ab__mb_item:last-child {
    padding-bottom: 10px;
    border-bottom: 1px solid #f0f0f0;
  }
}
@media screen and (max-width: 992px) and (min-width: 768px) {
  .ut2-big-image .ab__mb_items .ab__mb_item-title {
    padding-left: 0;
  }
  .ut2-big-image .ab__mb_items .ab__mb_item-title.cm-combination:after {
    right: 5px;
  }
}
@media screen and (max-width: 767px) {
  .ut2-big-image .ab__mb_items {
    margin: 10px 0;
  }
  .ut2-big-image .ab__mb_items .ab__mb_item:first-child {
    padding-top: 15px;
  }
  .ut2-big-image .ab__mb_items .ab__mb_item:last-child {
    padding-bottom: 15px;
  }
}
.ut2-pb__second .ab__mb_items.fill:not(.colored) .ab__mb_item-title {
  padding: 0 25px 0 0;
}

.ut2-pb__second .ab__mb_items.fill:not(.colored) .ab__mb_item-title.cm-combination:after {
  right: 0;
}

/** responsive **/
@media screen and (min-width: 768px) {
  .cat-content-grid .side-grid {
    top: 60px;
    width: 33.3333%;
    position: sticky;
  }
  .cat-content-grid .main-content-grid:not(.span16) {
    width: 66.6666%;
    margin-left: 0;
  }
  .ut2-pb .ty-breadcrumbs {
    border-bottom: none;
  }
  .ut2-filters > div {
    border: none;
    padding: 21px 29px;
    background: #fff;
    box-shadow: 0 0 0 1px #d9d9d9;
  }
}
@media screen and (min-width: 1025px) {
  .cat-content-grid .side-grid {
    width: 25%;
  }
  .cat-content-grid .main-content-grid:not(.span16) {
    width: 75%;
  }
}
@media screen and (max-width: 1220px) {
  .container {
    width: 100%;
    max-width: 100%;
  }
  body.is_scrolled .header-info {
    padding-bottom: 60px;
  }
  .is_scrolled .menu-wrapper {
    padding: 10px 20px;
  }
  .mobile-logo {
    height: 40px;
  }
}
@media screen and (max-width: 1124px) and (min-width: 768px) {
  .ty-product-list .ut2-pl__control {
    min-width: 0;
    max-width: none;
  }
}
@media screen and (max-width: 1024px) {
  .mse2_results--flex > * {
    flex: 1 1 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 992px) {
  .ty-product-list .ut2-pl__control .ty-btn + .ty-btn {
    margin-left: 0;
  }
}
@media screen and (max-width: 812px) {
  .mse2_number_inputs .form-group .input-sm {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .container-fluid-row > .row-fluid {
    padding-left: 25px;
    padding-right: 25px;
  }
  .main-content-grid #mse2_results {
    margin: 0;
  }
  .ty-breadcrumbs__a,
  .ty-breadcrumbs__current {
    font-size: 12px;
  }
  .ty-breadcrumbs__slash {
    margin: 0 3px 0 9px;
    font-size: 12px;
  }
  .ty-breadcrumbs__current,
  .ty-breadcrumbs + a.ut2-btn.hidden {
    display: inline-block;
  }
  .ut2-extra-block-title .ty-mainbox-title {
    font-size: 22px;
    margin-bottom: 1px;
  }
  .cat-content-grid .side-grid {
    width: 25%;
  }
  .is_scrolled .menu-wrapper {
    padding: 10px 25px;
  }
  .subcategories {
    padding: 30px 0 27px;
    margin-left: -15px;
  }
  .is_scrolled .ty-dropdown-box.ut2-filters div.ty-dropdown-box__content,
  .is_scrolled .ty-dropdown-box.ut2-categories div.ty-dropdown-box__content {
    top: 59px;
    padding: 20px 30px;
  }
  .ty-dropdown-box.ut2-filters .ut2-btn-close,
  .ty-dropdown-box.ut2-categories .ut2-btn-close {
    top: 10px;
    right: 10px;
  }
  .ty-subcategories__item.cat-img {
    flex: 1 1 calc(50% - 15px);
    margin: 30px 0 0 15px !important;
    max-width: calc(50% - 15px);
  }
  .subcategories-popular {
    padding: 0;
    margin-left: -30px;
  }
  .subcategories-popular .ty-subcategories__item {
    margin-left: 30px;
  }
  .popular-button {
    bottom: 30px;
  }
  .ty-subcategories-img {
    height: 95px;
  }
  .ty-subcategories__item img + span {
    font-size: 12px;
    margin-top: 13px;
  }
  .ty-subcategories__item span {
    font-size: 14px;
  }
  .ty-dropdown-box.ut2-filters {
    margin-top: 0;
    margin-bottom: 0;
  }
  .ty-dropdown-box.ut2-filters .ty-dropdown-box__title,
  .ty-dropdown-box.ut2-categories .ty-dropdown-box__title {
    height: 35px;
    border: none;
    padding: 0;
    box-shadow: none;
    background: #ffc700;
    border-radius: 0;
  }
  .ty-dropdown-box.ut2-filters .ty-dropdown-box__title:hover,
  .ty-dropdown-box.ut2-categories .ty-dropdown-box__title:hover {
    box-shadow: none;
    background: #ffc700;
  }
  .ty-dropdown-box.ut2-filters .ty-dropdown-box__title a {
    display: none;
  }
  .cat-content-grid .side-grid {
    width: 35px;
    margin: 30px 0 -10px !important;
    padding: 0;
  }
  .mse2_pagination,
  .ab__sf_cat_desc {
    float: none;
    width: 100%;
  }
  .ty-pagination__item,
  .ty-pagination__selected {
    height: 35px;
    min-width: 35px;
    line-height: 35px;
  }
  .ty-pagination .ty-pagination__selected ~ a:not(:nth-last-child(2)) {
    display: none;
  }
  .ty-pagination .ty-pagination__selected + a,
  .ty-pagination .ty-pagination__selected + a + a {
    display: inline-block !important;
  }
  .ty-wysiwyg-content * {
    font-size: 14px;
  }
}
@media screen and (max-width: 575px) {
  .mse2_results--flex > * {
    flex: 1 1 100%;
    max-width: 100%;
  }
  .subcategories-popular {
    max-height: 6.5em;
  }
  .popular-button {
    right: 50%;
    transform: translate(50%, 150%);
  }
  .subcategories-popular-wrapper._expanded .popular-button {
    transform: translate(50%, 150%);
  }
}