@charset "UTF-8";
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("☺"), url("fonts/montserrat-v25-cyrillic_latin-regular.woff2") format("woff2"), url("fonts/montserrat-v25-cyrillic_latin-regular.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local("☺"), url("fonts/montserrat-v25-cyrillic_latin-500.woff2") format("woff2"), url("fonts/montserrat-v25-cyrillic_latin-500.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local("☺"), url("fonts/montserrat-v25-cyrillic_latin-600.woff2") format("woff2"), url("fonts/montserrat-v25-cyrillic_latin-600.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("☺"), url("fonts/montserrat-v25-cyrillic_latin-700.woff2") format("woff2"), url("fonts/montserrat-v25-cyrillic_latin-700.woff") format("woff");
}
h1,
h2,
h3,
h4,
a,
body,
p,
div,
li {
  font-family: "Montserrat", sans-serif;
}

body,
p,
div,
li {
  color: #535353;
}

ol {
  padding: 0;
}

ul li {
  cursor: default;
}

fieldset {
  border: none;
}

body:not(.is_scrolled) header {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.08);
}

body.is_scrolled .header-info {
  padding-bottom: 91px;
}

body.is_scrolled .menu-wrapper {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.08);
}

.menu-wrapper-inner {
  width: 100%;
  display: flex;
  max-width: 1170px;
  justify-content: space-between;
}

.menu-hover__body {
  justify-content: flex-start;
}

.menu-body {
  height: auto;
}

.hover-li {
  padding: 0;
}

.hover-li .header-menu__el {
  padding: 24px;
  display: block;
}

.header-nav > li:first-child {
  padding: 0;
}

.burger-item__info {
  padding: 0;
}

.burger-item__info.active {
  background: var(--yellow);
}

.second-menu-el1.active,
.second-menu-el2.active,
.second-menu-el3.active,
.second-menu-el4.active,
.second-menu-el5.active,
.second-menu-el6.active,
.second-menu-el7.active {
  opacity: 1;
  z-index: 11;
}

.burger-item__info .hover-menu-title {
  padding: 23px 0 23px 21px;
  display: block;
  margin-right: 50px;
}

.burger-item__info .burger-logo {
  top: 50%;
  right: 20px;
  position: relative;
  transform: translateY(-50%);
}

.burger-item__info .burger-logo.active {
  transform: translateY(-50%) rotate(90deg);
}

.burger-menu {
  cursor: pointer;
}

.search-btn__wrapper {
  width: 40px;
  height: 40px;
}

.mobile-icon,
.menu-icon {
  height: 11px;
}

.mobile-icon::after,
.mobile-icon::before,
.menu-icon::before,
.menu-icon::after {
  height: 1px;
}

.mobile-icon span,
.menu-icon span {
  top: 5px;
  height: 1px;
}

.mobile-icon span::before {
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  content: "";
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
}

.second-menu {
  padding: 0;
}

.second-menu__item {
  padding: 0;
}

.second-menu__item a {
  padding: 23px;
  display: block;
}

.container-fluid-row,
.container-fluid-row-full-width > .row-fluid {
  max-width: 1210px;
}

/** wysiwyg **/
.ut2-cat-container .ty-wysiwyg-content,
.ty-wysiwyg-content[class*=description]:not(.content-features) {
  padding: 20px 25px;
}

.ty-wysiwyg-content {
  max-width: 870px;
  line-height: 1.8;
}

.ty-wysiwyg-content * {
  padding: 0;
}

.ty-wysiwyg-content * + * {
  font-size: 14px;
  padding-top: 2em;
}

.ty-wysiwyg-content ul {
  list-style-type: none;
}

.ty-wysiwyg-content ul,
.ty-wysiwyg-content ol {
  margin-left: 1.6em;
}

.ty-wysiwyg-content li {
  padding: 0;
}

.ty-wysiwyg-content ul li {
  position: relative;
}

.ty-wysiwyg-content ul li::before {
  left: -0.55em;
  content: "·";
  position: absolute;
  font-size: 1.9em;
  line-height: 1em;
  vertical-align: -0.1em;
}

.ty-wysiwyg-content h2 {
  font-size: 24px;
  font-weight: 600;
}

.ty-wysiwyg-content h3 {
  font-size: 20px;
  font-weight: 600;
}

.ty-wysiwyg-content h4 {
  font-size: 18px;
  font-weight: 500;
}

.ty-wysiwyg-content h1,
.ty-wysiwyg-content h2,
.ty-wysiwyg-content h3,
.ty-wysiwyg-content h4 {
  color: #333333;
  margin-top: 0;
  line-height: 1.2;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0;
}

.ty-wysiwyg-content * + h1,
.ty-wysiwyg-content * + h2,
.ty-wysiwyg-content * + h3,
.ty-wysiwyg-content * + h4 {
  padding-top: 2.6em;
}

.ty-wysiwyg-content * + form {
  padding-top: 1.5em;
}

.ty-wysiwyg-content table {
  margin: -5px;
  max-width: 100%;
  overflow-x: auto;
  text-align: center;
  line-height: 1.5;
  border-spacing: 5px;
  border-collapse: separate;
}

.ty-wysiwyg-content td,
.ty-wysiwyg-content th {
  height: 45px;
  padding: 0.4em 0.8em;
  min-width: 200px;
}

.ty-wysiwyg-content table th,
.ty-wysiwyg-content table > *:first-child > *:first-child th {
  font-weight: 600;
  background: #f5f5f5;
}

.ty-wysiwyg-content table thead td {
  color: #fff;
  background: #333;
}

.ty-wysiwyg-content table *:not(thead) *:not(:first-child) > td,
.ty-wysiwyg-content table *:not(thead) *:first-child > td:first-child,
.ty-wysiwyg-content table *:not(thead) *:first-child > * + td {
  border: 1px solid #d9d9d9;
}

/** wysiwyg end **/
.ut2-extra-block-title .ty-mainbox-title {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 4px;
  text-transform: uppercase;
}

.ty-breadcrumbs__a {
  color: #333333;
  height: auto;
  line-height: 1.5;
}

.ty-breadcrumbs__slash {
  color: #333333;
  height: 1em;
  margin: 0 5px 0 11px;
  font-size: 18px;
  vertical-align: baseline;
}

.ut2-extra-block-title .ty-breadcrumbs {
  border: none;
}

.ty-subcategories__item {
  margin: 0 0 0 30px;
  padding: 0;
}

.ty-subcategories__item.cat-img {
  flex: 1 1 calc(25% - 30px);
  border: none;
  margin: 30px 0 0 30px !important;
  padding: 0;
  overflow: hidden;
  max-width: calc(25% - 30px);
}

.ty-subcategories__item.cat-img a {
  display: block;
}

.ty-subcategories-img {
  width: 100% !important;
  height: 169px;
  -o-object-fit: cover;
  object-fit: cover;
}

.subcategories {
  padding: 10px 0 27px;
  margin-top: -30px;
  margin-left: -30px;
}

.subcategories-popular-wrapper {
  padding: 33px 0 27px;
  position: relative;
}

.subcategories-popular {
  padding: 0;
  overflow: hidden;
  max-height: 3.1em;
  margin-left: -40px;
  margin-top: -1.5em;
}

.subcategories-popular-wrapper._expanded .subcategories-popular {
  max-height: none;
}

.subcategories-popular .ty-subcategories__item {
  margin-top: 1.5em;
  margin-left: 40px;
}

.popular-button {
  right: 0;
  color: #333;
  bottom: 29px;
  border: none;
  cursor: pointer;
  padding: 0;
  padding: 0 0 0 10px;
  position: absolute;
  font-size: 16px;
  margin-top: 0;
  box-shadow: -4px 0 4px #fff;
  margin-left: 0;
  font-weight: 700;
  vertical-align: bottom;
  background-color: #fff;
}

.subcategories-popular-wrapper._expanded .popular-button {
  transform: translateY(150%);
}

.popular-button::before {
  content: attr(data-title);
  vertical-align: middle;
}

.subcategories-popular-wrapper._expanded .popular-button::before {
  content: attr(data-second-title);
}

.popular-button-title {
  display: none;
}

.popular-button-icon {
  width: 16px;
  color: #fff;
  height: 16px;
  margin: 0 0 0 3px;
  display: inline-block;
  font-size: 15px;
  transform: translateZ(0);
  line-height: 1;
  font-weight: 600;
  border-radius: 50%;
  vertical-align: middle;
  background-color: #333;
}

.popular-button-icon::before {
  content: "+";
}

.subcategories-popular-wrapper._expanded .popular-button-icon::before {
  content: "-";
}

.ty-subcategories-img {
  padding: 0;
}

.ty-subcategories__item span {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.375;
}

.ty-subcategories__item img + span {
  height: auto;
  padding: 0;
  text-align: left;
  margin-top: 25px;
  font-weight: 500;
  justify-content: flex-start;
}

.ty-subcategories__item.cat-img:hover {
  border: none;
  box-shadow: none;
}

.ty-select-block,
.ty-sort-dropdown__content,
.ty-dropdown-box__content,
.ty-horizontal-product-filters-dropdown__content {
  width: 100%;
  box-shadow: 0 0 0 1px #d9d9d9;
}

.ty-sort-dropdown__content-item-a:not(:last-child) {
  border-bottom: 1px solid #d9d9d9;
}

.ty-product-filters__group [type=checkbox]:checked + label {
  color: #535353;
  font-weight: 400;
}

.ty-product-filters__group [type=checkbox]:not(:checked) + label {
  color: #535353;
}

.ty-product-filters__group [type=checkbox]:not(:checked) + label,
.ty-product-filters__group [type=checkbox]:checked + label {
  line-height: 1;
  padding-left: 25px;
}

.ut2-filters .ty-product-filters__group {
  margin: 0 5px 6px 0;
}

.ty-product-filters__group [type=checkbox]:not(:checked) + label:before,
.ty-product-filters__group [type=checkbox]:checked + label:before {
  top: 5px;
  width: 15px;
  height: 15px;
  border-radius: 0;
}

.ty-product-filters__group [type=checkbox]:not(:checked) + label:after,
.ty-product-filters__group [type=checkbox]:checked + label:after {
  top: 5px;
  width: 15px;
  color: #333;
  height: 15px;
  border: 1px solid #ffd600;
  font-size: 12px;
  text-align: center;
  background: #ffd600;
  font-weight: 400;
  line-height: 14px;
  border-radius: 0;
}

input[type=text],
input[type=password],
input[type=tel],
input[type=email],
input[type=number],
textarea,
select {
  color: #333;
  height: 45px;
  padding: 4px 25px;
  outline: none !important;
  min-height: 0;
  font-family: inherit;
  border-radius: 0;
  transition: all 0.3s;
}

input[type=text]:hover,
input[type=text]:focus,
input[type=email]:hover,
input[type=email]:focus,
input[type=password]:hover,
input[type=password]:focus,
textarea:hover,
textarea:focus,
select:hover,
select:focus {
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1);
  border-color: #d9d9d9;
}

.ty-btn {
  height: 45px;
  border-radius: 0;
}

.ty-btn__primary {
  background: #ffd600;
}

.ty-cr-product-button,
.ty-product-filters__reset-button {
  border: 1px solid #333;
  background-color: #fff;
}

.main-content-grid,
.side-grid {
  margin-top: 33px !important;
  padding-bottom: 30px;
}

.ut2-filters .ty-product-filters__wrapper fieldset {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.ut2-filters .ty-product-filters__switch {
  padding: 15px 0 16px;
}

.side-grid #mse2_filters .mse2_number_slider {
  order: 1;
  margin-top: 21px;
  margin-bottom: 18px;
}

#mse2_filters .mse2_number_inputs label {
  position: relative;
  font-size: 0;
}

#mse2_filters .mse2_number_inputs label span {
  top: 10px;
  left: 11px;
  color: #5c5c5c;
  position: absolute;
  font-size: 14px;
  text-transform: lowercase;
}

.mse2_number_inputs .form-group .input-sm {
  width: 100%;
  border: 1px solid #d9d9d9;
  padding-left: 37px;
  border-radius: 0;
}

.filter_title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  margin-bottom: 12px;
}

.mse2_number_inputs > * {
  width: calc(50% - 7px);
}

.mse2_number_inputs {
  justify-content: space-between;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: none;
  background: #ffd600;
}

.ui-slider .ui-slider-range {
  font-size: 0.2em;
}

.ui-widget-content {
  border: none;
  background: #d9d9d9;
}

.ui-slider-horizontal {
  height: 0.4em;
}

.ui-widget-header {
  background: #ffd600;
}

.ui-slider-horizontal .ui-slider-handle {
  top: -0.4em;
}

.ut2-filters .ty-product-filters__switch .ty-product-filters__title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}

.ty-sort-container {
  border: none;
  padding: 17px 22px 15px;
  box-shadow: 0 0 0 1px #d9d9d9;
}

.ty-product-list {
  margin: 0;
  border: none;
  padding: 3px 4px 15px;
  box-shadow: 0 0 0 1px #d9d9d9;
}

.main-content-grid #mse2_results {
  margin: 0 0 0 1px;
}

.mse2_results--flex > * {
  flex: 1 1 33.3333%;
  max-width: 33.3333%;
}

.ty-sort-dropdown__wrapper {
  height: 33px;
  padding: 0 26px;
  font-weight: 400;
}

.ty-sort-dropdown__wrapper > span {
  margin-bottom: 0;
  border-bottom: none;
}

.ty-sort-dropdown__wrapper svg {
  margin-left: 5px;
}

.ty-sort-dropdown__content-item-a {
  font-weight: 400;
}

.ty-product-list__body .ut2-pl__image {
  width: 100%;
  max-width: 100%;
  min-height: 100px;
}

.ty-product-list__body .ut2-pl__image img {
  height: 212px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ty-product-list__col {
  padding: 0 15px;
}

.ty-product-list .ut2-pl__item-name a {
  color: #333333;
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.375;
}

.ty-product-list .ut2-pl__list-buttons {
  top: 10px;
  right: 10px;
  width: auto;
  position: absolute;
}

.ut2-sorting-wrap .ty-sort-dropdown:first-child {
  box-shadow: 0 0 0 1px #d9d9d9;
  padding-left: 0;
}

.ut2-sorting-wrap .ty-sort-dropdown:first-child::before {
  content: "";
}

.ut2-quick-view-button,
.ut2-add-to-wish:not(.label),
.ut2-add-to-compare:not(.label) {
  width: 32px;
  float: right;
  height: 32px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comparison .comparison-add {
  display: flex !important;
}

.ut2-quick-view-button:hover,
.ut2-add-to-wish:not(.label):hover,
.ut2-add-to-compare:not(.label):hover {
  background-color: #ffc700;
}

.ut2-quick-view-button:hover svg,
.ut2-add-to-wish:not(.label):hover svg,
.ut2-add-to-compare:not(.label):hover svg {
  color: #fff;
}

.ty-product-list .ut2-pl__list-buttons a:first-child {
  border-radius: 0;
}

.ut2-quick-view-button svg,
.ut2-add-to-wish:not(.label) svg,
.ut2-add-to-compare:not(.label) svg {
  color: #ffc700;
  font-size: 17px;
  line-height: 18px;
}

.ty-product-list__body .ty-price-update .ty-price-num {
  font-size: 20px;
  font-weight: 600;
}

.ty-sort-container #mse2_selected_wrapper {
  margin: 0;
  min-height: 0;
}

.ty-sort-container__views-icons {
  display: none;
}

.ty-product-list .ut2-pl__qty .ty-qty {
  margin-bottom: 0;
}

.ty-price-num {
  font-family: inherit;
}

.ut2-gl__qty,
.ut2-pl__qty {
  flex: 1 1 auto;
  float: none;
  max-width: 110px;
  margin-left: 15px;
}

.ut2-gl__qty > div,
.ut2-pl__qty > div {
  width: 100%;
  margin-right: 10px;
}

.ut2-pl__feature .ty-control-group span,
.ut2-pl__feature .ty-control-group em,
.ut2-gl__feature .ty-control-group span,
.ut2-gl__feature .ty-control-group em,
.ty-features-list .ty-control-group span,
.ty-features-list .ty-control-group em {
  text-align: left;
}

.ty-product-list__body .ut2-pl__price > div:first-child {
  flex-shrink: 0;
}

.ty-product-list__body .ty-price-update {
  font-size: inherit;
  margin-right: 6px;
}

.ty-btn {
  font-family: inherit;
  font-weight: 400;
}

.ty-btn svg {
  color: #333333;
  font-size: 20px;
}

.ty-btn svg + span {
  margin-left: 5px;
}

.ty-btn__primary {
  color: #333333;
}

.ty-btn__primary:hover {
  color: #000;
  background: #ffd600;
}

.ty-product-list__body .ut2-pl__btns {
  flex-direction: column;
}

.ty-product-list .ut2-pl__price {
  flex-direction: row;
  padding-bottom: 10px;
  justify-content: space-between;
}

.ty-price {
  color: #535353;
  margin: 0;
}

.ut2-pl__price [class^=cm-reload] + [class^=cm-reload] .ty-price {
  color: #d75150;
}

.ty-strike {
  color: inherit;
  text-decoration: line-through;
}

.ty-strike .ty-list-price {
  color: inherit;
}

.ty-product-list .ut2-pl__price .ty-strike .ty-list-price {
  font-size: inherit;
  padding-bottom: 0;
  text-decoration: none;
}

.ty-cr-product-button span,
.ty-product-filters__reset-button span {
  max-width: 100%;
}

.ty-control-group {
  margin: 0 0 14px 0;
}

.ty-list-price {
  font-size: 16px;
  padding-bottom: 0;
  vertical-align: middle;
}

.ty-product-list__body .ut2-pl__control {
  padding-top: 0;
}

.cm-units {
  margin-left: 7px;
  padding-top: 3px;
}

.ut2-pl__feature .ty-control-group:after,
.ut2-gl__feature .ty-control-group:after,
.ty-features-list .ty-control-group:after {
  content: normal;
}

.ut2-pl__feature .ty-control-group,
.ut2-gl__feature .ty-control-group,
.ty-features-list .ty-control-group {
  width: 100%;
  margin: 0 0 13px;
}

.ut2-pl__feature .ty-control-group span,
.ut2-pl__feature .ty-control-group em,
.ut2-gl__feature .ty-control-group span,
.ut2-gl__feature .ty-control-group em,
.ty-features-list .ty-control-group span,
.ty-features-list .ty-control-group em {
  width: auto;
  color: #535353;
  margin-right: 3px;
}

.ut2-pl__feature .ty-control-group span:before,
.ut2-pl__feature .ty-control-group em:before,
.ut2-gl__feature .ty-control-group span:before,
.ut2-gl__feature .ty-control-group em:before,
.ty-features-list .ty-control-group span:before,
.ty-features-list .ty-control-group em:before {
  content: normal;
}

.ut2-pl__feature .ty-control-group > span.ty-product-feature__label,
.ut2-gl__feature .ty-control-group > span.ty-product-feature__label,
.ty-features-list .ty-control-group > span.ty-product-feature__label {
  font-weight: 500;
}

.ty-product-list .ut2-pl__item-name {
  margin-bottom: 9px;
}

.ty-product-list__body .ut2-pl__btns > * {
  width: 100%;
  max-width: 100%;
}

.ty-value-changer {
  width: 100%;
  height: 40px;
  border: 1px solid #f2f2f2;
  display: flex;
  flex-direction: row-reverse;
}

.touch .ty-value-changer {
  width: 100%;
}

.ty-qty input.ty-value-changer__input,
.quantity input.ty-value-changer__input {
  flex: 0 1 auto;
  float: none;
  width: 33.3333%;
  height: 100%;
  border: none;
  padding: 0;
  border-radius: 0;
}

.ty-qty .ty-value-changer .ty-value-changer__increase,
.ty-qty .ty-value-changer .ty-value-changer__decrease,
.quantity .ty-value-changer .ty-value-changer__increase,
.quantity .ty-value-changer .ty-value-changer__decrease {
  flex: 1 0 33.3333%;
  float: none;
  color: #2f2f2f;
  width: 33.3333%;
  height: 100%;
  border: none;
  font-weight: 400;
  line-height: 38px;
  border-radius: 0;
  background-color: #f2f2f2;
}

.ty-qty a + input.ty-value-changer__input,
.quantity a + input.ty-value-changer__input {
  border-radius: 0;
}

.ty-qty-in-stock,
.ty-qty-out-of-stock {
  font-size: 13px;
}

.ty-qty-in-stock {
  color: #36844c;
}

.ty-qty-out-of-stock {
  color: #d75150;
}

.ty-qty-in-stock::before,
.ty-qty-out-of-stock::before {
  width: 0.615em;
  height: 0.615em;
  content: "";
  margin-top: 1px;
  margin-right: 5px;
  border-radius: 50%;
  background-color: currentColor;
}

.ty-product-list__badge-list {
  top: 10px;
  left: 15px;
  flex-direction: row;
}

.ty-product-list__badge-list > * + * {
  margin-top: auto;
  margin-left: 8px;
}

.badge {
  color: #fff;
  width: 40px;
  height: 40px;
  padding: 0;
  min-width: 0;
  font-size: 13px;
  min-height: 0;
  border-radius: 50%;
}

.ty-product-list__badge--hit {
  font-size: 14px;
  background-color: #fe6d10;
}

.ty-product-list__badge--new {
  background-color: #58a76e;
}

.ty-product-list__badge--promotion {
  font-size: 20px;
  background-color: #d75150;
}

.ab__sf_cat_desc {
  float: right;
  width: calc(100% - 291px);
  padding-top: 50px;
}

.ab__sf_cat_desc .ty-wysiwyg-content {
  line-height: 2;
}

.mse2_pagination {
  float: right;
  width: calc(100% - 291px);
}

.ty-pagination {
  padding: 0;
  text-align: left;
}

.ty-pagination__item,
.ty-pagination__selected {
  border: none;
  height: 45px;
  min-width: 45px;
  font-weight: 400;
  line-height: 45px;
  border-radius: 50px;
}

.ty-pagination__selected {
  background: #ffd600;
  font-weight: 500;
  border-color: #ffd600;
}

.ty-pagination__item.ty-pagination__btn,
.ty-pagination__selected.ty-pagination__btn {
  display: none;
}

.benefits .benefit i {
  font-size: 0;
}

.benefits .benefit svg {
  width: 26px;
  height: 30px;
  margin: 0 2px;
}

.benefits .benefit header,
.benefits .benefit header a {
  font-weight: 600;
  color: #333;
}

.benefits .benefit p {
  color: inherit;
}

.row-fluid .span8 {
  width: 100%;
}

.ty-sidebox-important__title + .ty-sidebox-important__body {
  padding-top: 40px;
}

.ty-wysiwyg-content .services-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -50px;
  margin-left: -30px;
}
.ty-wysiwyg-content .services-list > * {
  flex: 1 1 25%;
  max-width: 25%;
  padding-top: 50px;
  padding-left: 30px;
}
.ty-wysiwyg-content .services-list > *::before {
  content: normal;
}
.ty-wysiwyg-content .services-list__item {
  height: 100%;
}
.ty-wysiwyg-content .services-list__item:hover img {
  transform: scale(1.05);
}
.ty-wysiwyg-content .services-list__item a {
  display: block;
  font-size: 16px;
  font-weight: 500;
  padding-top: 1.5em;
}
.ty-wysiwyg-content .services-list__item a:hover {
  text-decoration: none;
}
.ty-wysiwyg-content .services-list__item a::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  position: absolute;
}
.ty-wysiwyg-content .services-list__image-wrapper {
  width: 100%;
  height: 0;
  overflow: hidden;
  position: relative;
  padding-bottom: 62.6%;
}
.ty-wysiwyg-content .services-list__image-wrapper img {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: scale(1);
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s;
}

/** popup dialog **/
.ui-widget-content {
  background: #ddd;
}

div.ui-dialog .ui-dialog-titlebar {
  height: auto;
  padding: 52px 43px 0;
  background: #fff;
}

div.ui-dialog .ui-dialog-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #333;
  white-space: normal;
  text-transform: uppercase;
}

.ui-dialog .ui-dialog-title::before {
  content: "";
  width: 25px;
  height: 25px;
  opacity: 0.8;
  display: inline-block;
  background: none right bottom/contain no-repeat transparent;
  margin-right: 10px;
  vertical-align: -0.1em;
}

.ui-dialog[aria-describedby=one_click] .ui-dialog-title::before {
  background-image: url("images/icons/cart.svg");
}

.ui-dialog[aria-describedby=content_call] .ui-dialog-title::before {
  background-image: url("images/icons/phone.svg");
}

.ui-dialog[aria-describedby=modal_flash] .ui-dialog-title::before {
  background-image: url("images/icons/present.svg");
}

.ui-widget-header .ui-icon-closethick {
  opacity: 1;
}

.ui-dialog:not(.ty-swiper-previewer__dialog) .ui-widget-header .ui-icon-closethick {
  top: 50%;
  left: 50%;
  right: auto;
  transform: translate(-50%, -50%);
}

.ui-widget-header .ui-icon-closethick::before,
.ui-dialog:not(.ty-swiper-previewer__dialog) .ui-widget-header .ui-icon-closethick::before {
  font-family: inherit;
  content: "";
  opacity: 1;
  filter: none;
  width: 20px;
  height: 20px;
  display: block;
  background: url("images/icons/close.svg") center/contain no-repeat transparent;
}

div.ui-dialog .ui-dialog-content .object-container {
  width: 600px;
  height: auto !important;
  padding: 31px 43px 22px;
  overflow: hidden;
  max-width: 100%;
}

div.ui-dialog .ty-control-group__title[hidden] {
  display: none;
}

div.ui-dialog .ty-control-group {
  margin-bottom: 20px;
}

div.ui-dialog .ty-control-group b,
div.ui-dialog .ty-control-group strong {
  font-weight: 500;
}

.ui-dialog .ty-control-group__title {
  font-weight: 400;
  margin-right: 6px;
}

div.ui-dialog input.cm-cr-mask-time {
  width: 110px;
  margin: 0 5px;
  padding: 4px 14px;
}

div.ui-dialog .buttons-container {
  margin: 0;
  padding: 10px 0 0;
  position: static !important;
  text-align: center;
  background: transparent;
}

div.ui-dialog .buttons-container button {
  padding: 0 40px;
  font-family: inherit;
}

div.ui-dialog .buttons-container button:hover {
  padding: 0 40px;
}

.ui-dialog .ty-cr-product-info-container {
  margin-bottom: 20px;
}

.ui-dialog .ty-cr-product-info-image {
  width: 140px;
  height: auto;
  padding: 0;
}

.ui-dialog .ty-cr-product-info-header {
  padding: 0 0 0 20px;
}

.ui-dialog .ty-product-block-title {
  color: #333;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0;
}

div.ui-dialog .ui-dialog-content {
  max-width: 100% !important;
}

.breadcrumbs-grid {
  padding-top: 10px;
  padding-bottom: 40px;
}

.ty-sidebox-important {
  border: none;
  padding: 0;
  margin-top: 40px;
}

.ty-sidebox-important__title-wrapper {
  padding: 0;
  margin: 0;
  background: none;
  font-family: inherit;
  font-size: 28px;
  font-weight: 600;
  float: none;
  color: #333;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  div.ui-dialog .ty-control-group {
    font-size: 16px;
  }
  .ui-dialog .ty-control-group__title {
    display: inline-block;
  }
}
@media screen and (max-width: 767px) {
  div.ui-dialog .ui-dialog-title {
    overflow: hidden;
    font-size: 20px;
    text-align: center;
    text-overflow: ellipsis;
  }
}
/** popup dialog end **/
/** product page  **/
.ty-product-block {
  margin: 5px 0 30px;
}

.ty-price-update {
  font-size: 16px;
}

.ut2-pb__wrapper {
  padding-top: 25px;
}

body .calc-prod .ut2-pb__right {
  padding-left: 15px;
}

.ut2-pb__img-wrapper .ut2-pb__img {
  top: 90px;
  position: sticky;
}

.cm-preview-wrapper {
  overflow: hidden;
}

.cm-preview-wrapper:not(.owl-carousel) .ty-image-zoom__wrapper:not(:first-child),
.cm-preview-wrapper:not(.owl-carousel) .owl-item:not(:first-child) {
  display: none;
}

.ut2-pb__title {
  color: #333;
  margin: 17px 0 4px;
  font-weight: 600;
}

.ut2-pb .ty-product-thumbnails .ty-product-thumbnails__item {
  height: 0;
  width: 100%;
  border: 1px solid transparent;
  padding: 0 0 100%;
  position: relative;
  margin-right: 0;
}

.ut2-pb .ty-product-thumbnails .ty-product-thumbnails__item:not(:last-child) {
  margin-bottom: 30px;
}

.ut2-pb .ty-product-thumbnails__item.active,
.ut2-pb .ty-product-thumbnails__item:hover {
  border-radius: 0;
}

.ut2-pb .ty-product-thumbnails .ty-product-thumbnails__item.active {
  border-color: #333;
}

.ut2-pb__right .ut2-pb__price-actual .ty-price-num {
  color: #333;
  font-size: 20px;
  font-weight: 600;
}

.ty-product-block__img-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.ty-product-thumbnails img {
  position: absolute;
}

.ty-product-block .ty-qty-in-stock,
.ty-product-block .on_backorder,
.ty-product-block .ty-qty-out-of-stock {
  padding: 0;
  background: transparent;
  font-weight: 500;
  border-radius: 0;
}

.calc-prod .calc_box {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  border-color: #d9d9d9;
  border-radius: 0;
  margin: 10px 0 20px;
  padding: 20px 30px;
}

.card-c {
  padding: 15px 30px 30px;
  box-shadow: 0 0 0 1px #d9d9d9;
  border-radius: 0;
}

.calc_box-bd {
  border: 1px solid #ececec;
  margin: 15px;
}

.calc_box-bd .row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
}

.calc_box-bd .row > div {
  width: 100%;
  padding-left: 20px;
}

.calc-prod .calc_box .calculator {
  width: 100%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.calculator .col-12 > * {
  width: 100%;
}

.calculator select {
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (min-width: 480.1px) {
  .col-xs-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}
@media (max-width: 480px) {
  .calculator .row > *:not(:last-child) {
    margin-bottom: 20px;
  }
}
.col-xs-4 input::-webkit-outer-spin-button,
.col-xs-4 input::-webkit-inner-spin-button {
  -webkit-appearance: auto;
}

.ut2-pb__button {
  display: flex;
  margin-top: 23px;
}

.ut2-pb__button .btns-features {
  display: flex;
  margin-left: 10px;
}

.ut2-pb__button .ty-btn {
  width: auto;
  height: 45px;
  flex: 1 1 100%;
  max-width: 100%;
}

.ut2-pb__button .ty-btn > span {
  height: 45px;
}

.ut2-pb__button .ty-btn span {
  font-size: 14px;
}

.ut2-pb__button .btns-features svg {
  color: #ffd600;
}

.ut2-pb__button .btns-features .ut2-add-to-wish,
.ut2-pb__button .btns-features .ut2-add-to-compare {
  width: 45px;
  height: 45px;
  display: flex;
  box-shadow: 0 0 0 1px #d9d9d9;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.ut2-pb__button .btns-features a.label {
  margin: 0;
}

.ut2-pb__button .btns-features .comparison {
  margin-left: 1px;
}

.ut2-pb__button .btns-features .ut2-add-to-wish:hover,
.ut2-pb__button .btns-features .ut2-add-to-compare:hover {
  z-index: 1;
  box-shadow: 0 0 0 1px #535353;
  background-color: #ffd600;
}

.ut2-pb__button .btns-features .ut2-add-to-wish:hover svg,
.ut2-pb__button .btns-features .ut2-add-to-compare:hover svg {
  color: #fff;
}

.ut2-pb__button .btns-purchase {
  flex-grow: 1;
}

.ty-product-block .ty-tabs {
  border: none;
  position: relative;
}

.ty-product-block .ty-tabs::before {
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  bottom: 0;
  content: "";
  display: block;
  position: absolute;
  margin-left: calc((-100vw + 100%) / 2);
  margin-right: calc((-100vw + 100%) / 2);
  background-color: #f8f8f8;
}

.ty-product-block .ty-tabs .ty-tabs__item .ty-tabs__a {
  color: #333;
  height: 67px;
  display: flex;
  padding: 5px 50px;
  background: transparent;
  font-weight: 400;
  line-height: 1.25;
  align-items: center;
  justify-content: center;
}

.ty-product-block .ty-tabs .ty-tabs__item {
  transition: background-color 0.3s;
}

.ty-product-block .ty-tabs .ty-tabs__item:not(.active) {
  border-bottom: none;
}

.ty-product-block .ty-tabs .ty-tabs__item.active {
  border-bottom: none;
  background-color: #ffd600;
}

.ty-product-block .ty-tabs .ty-tabs__item.active .ty-tabs__a {
  width: 100%;
  color: #333;
}

/** responsive product page **/
@media screen and (max-width: 1024px) {
  .calc_box-bd .row {
    flex-direction: column;
  }
  .calc_box-bd .row > div {
    flex: 1 1 100%;
    max-width: 100%;
  }
  .calc_box-bd .row > div + div {
    margin-top: 20px;
  }
  .ut2-pb__button .btns-purchase .btns__list {
    flex-direction: column;
  }
  .ut2-pb__button {
    flex-direction: column;
  }
  .ut2-pb__button .btns-features {
    margin-left: 0;
    margin-top: 12px;
    justify-content: center;
  }
  .ty-product-img {
    min-height: 0;
  }
  .ty-product-block .ty-tabs .ty-tabs__item .ty-tabs__a {
    padding: 5px 40px;
  }
}
@media screen and (max-width: 812px) {
  .ut2-pb__img-wrapper,
  .ut2-pb__right {
    flex: 1 1 100%;
    max-width: 100%;
  }
  body .calc-prod .ut2-pb__right {
    padding-left: 0;
  }
}
@media screen and (max-width: 767px) {
  .ut2-pb__img-wrapper .ut2-pb__img {
    top: 0;
  }
  .ut2-pb__title {
    font-size: 22px;
  }
  .ut2-pb .ty-product-img {
    width: 75% !important;
  }
  .ut2-pb .ty-product-thumbnails.ab-vertical-thumbnails {
    width: 15% !important;
  }
  .card-c {
    padding: 15px 20px 10px;
  }
  .ut2-pb .ty-product-thumbnails .ty-product-thumbnails__item:not(:last-child) {
    margin-bottom: 20%;
  }
  .ut2-breadcrumbs__wrapper {
    margin-top: 15px;
  }
  .ut2-pb__img-wrapper {
    padding-bottom: 25px;
  }
  .ty-product-block .ty-tabs .ty-tabs__item .ty-tabs__a {
    height: 45px;
    padding: 5px 30px;
    font-size: 14px;
  }
  .ty-product-block {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 495px) {
  .ty-product-block .ty-tabs .ty-tabs__item {
    width: 50%;
  }
  .span16 .ut2-pb .ty-tabs__content {
    padding: 30px 0;
  }
}
/** product-page content features **/
.content-features > * {
  max-width: 865px;
}

#vopros_form > .row_form {
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
}

#vopros_form input[type=text],
#vopros_form input[type=password],
#vopros_form input[type=email],
#vopros_form input[type=tel],
#vopros_form select,
#vopros_form textarea {
  width: 100%;
  resize: none;
  border: 1px solid #d9d9d9;
  padding: 12px 23px 11px;
  font-size: 14px;
  min-height: 45px;
}

#vopros_form textarea {
  width: 471px;
}

#vopros_form .g-recaptcha {
  margin-top: 23px;
}

.row_form_b {
  gap: 25px;
  width: 271px;
  display: flex;
  flex-direction: column;
}

#vopros_form .agreement {
  margin: 30px 0;
  max-width: 540px;
}

#vopros_form .ty-btn {
  padding: 0 45px;
  margin-top: 23px;
}

@media (max-width: 920px) {
  .tovar_section_form {
    gap: 30px;
  }
  #vopros_form textarea {
    width: 420px;
  }
}
@media (max-width: 540px) {
  .row_form_a,
  .row_form_b,
  #vopros_form textarea {
    width: 100%;
  }
}
.reviews {
  display: flex;
  flex-direction: column;
}

.reviews #comment-form {
  display: flex;
  flex-wrap: wrap;
  max-width: 571px;
  justify-content: space-between;
}

.reviews #comment-form .form-group:nth-child(6),
.reviews #comment-form .form-group:nth-child(7) {
  width: calc(50% - 11px);
}

.reviews #comment-form .form-group:nth-child(8),
.reviews #comment-form .form-group:nth-child(9),
.reviews #comment-form .form-actions,
.reviews #comment-form #comment-editor {
  width: 100%;
}

.reviews #comment-form .form-group:nth-child(9) {
  width: 271px;
  display: flex;
  flex-direction: column;
}

.reviews #comment-form .markItUpHeader {
  border: 1px solid #d7d7d7;
  padding: 10px 0;
  border-bottom: none;
}

.reviews #comment-form .markItUp {
  margin: 20px 0;
}

.reviews #comment-form .markItUpEditor {
  height: 140px;
  resize: vertical;
  border-top: none;
}

.reviews #comment-form input,
.reviews #comment-form textarea {
  width: 100%;
  padding: 10px 25px;
  min-height: 45px;
}

.reviews #comment-form .markItUpHeader ul li::before {
  content: normal;
}

.reviews #comment-form .form-actions {
  margin-top: 20px;
  border-top: none;
  padding-top: 0;
  margin-left: -10px;
}

.reviews #comment-form .form-actions button {
  width: 170px;
  margin: 10px 0 0 10px;
}

.reviews .comments {
  margin-top: 40px;
}

.reviews .comments .title {
  color: #333;
  font-size: 18px;
  font-weight: 500;
}

.reviews .comments .title span {
  font-size: inherit;
}

.reviews .comments .reply {
  font-weight: 600;
}

.ty-subheader,
div.ty-mainbox-title,
.ty-footer-form-block__title,
a.ty-quick-view__title {
  color: #333;
  font-size: 28px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.ut2-gl__body {
  border: 1px solid #d9d9d9;
  padding: 15px 20px 20px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0);
}

.owl-carousel:not(.ty-scroller-pd).grid-list .ut2-gl__item:hover .ut2-gl__body,
.owl-carousel:not(.ty-scroller-pd).ty-scroller-list .ut2-gl__item:hover .ut2-gl__body {
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}

.ut2-gl__image {
  margin: -15px -20px 10px;
  position: static;
  max-width: none;
}

.ut2-gl__image .ty-product-list__badge-list {
  top: 15px;
  left: 15px;
  flex-direction: row;
}

.ut2-gl__name {
  margin-bottom: 15px;
}

.ut2-gl__name .product-title {
  color: #333;
  font-size: 16px;
  font-weight: 500;
  min-height: 0;
  max-height: none;
  -webkit-hyphens: none;
          hyphens: none;
}

.owl-carousel:not(.ty-scroller-pd).grid-list .ut2-gl__item:hover .ut2-gl__name .product-title,
.owl-carousel:not(.ty-scroller-pd).ty-scroller-list .ut2-gl__item:hover .ut2-gl__name .product-title {
  max-height: none;
  -webkit-hyphens: none;
          hyphens: none;
}

.ut2-gl__amount {
  margin-bottom: 7px;
}

.ut2-gl__price {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.ut2-gl__price > div {
  flex-direction: row;
  width: auto;
  max-height: none;
  justify-content: center;
}

.ut2-gl__price .ty-price-num {
  font-size: 20px;
  font-weight: 600;
}

.ut2-gl__buttons {
  position: static;
  transition-delay: 0s;
}

.ut2-gl__buttons a:first-child,
.ut2-gl__buttons a:last-child {
  border-radius: 0;
}

.span16 > .ty-tabs__content {
  margin-top: 30px;
}

.ty-tabs__content .owl-carousel .owl-wrapper-outer {
  overflow: visible;
}

.ty-tabs__content .owl-carousel .owl-wrapper-outer::before,
.ty-tabs__content .owl-carousel .owl-wrapper-outer::after {
  top: 0;
  width: calc((100vw - 100%) / 2);
  bottom: 0;
  z-index: 1;
  content: "";
  position: absolute;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.71) 42.94%, rgba(255, 255, 255, 0) 86.06%);
  pointer-events: none;
}

.ty-tabs__content .owl-carousel .owl-wrapper-outer::before {
  left: 0;
  transform: translateX(-100%);
}

.ty-tabs__content .owl-carousel .owl-wrapper-outer::after {
  right: 0;
  transform: translateX(100%) rotate(180deg);
}

.owl-theme .owl-controls .owl-page {
  width: 11.1111%;
}

.ty-tabs__content .owl-theme .owl-controls .owl-page span {
  display: block;
  width: calc(100% - 30px);
  height: 1px;
  margin: 5px 15px;
  filter: none;
  opacity: 1;
  border-radius: 0;
  background: #d9d9d9;
}

.ty-tabs__content .owl-theme .owl-controls .owl-page.active span,
.ty-tabs__content .owl-theme .owl-controls.clickable .owl-page:hover span {
  background: #333333;
}

.span16 > .ty-tabs__content .owl-controls {
  margin-top: 44px;
}

/** standalone **/
.ab__motivation_block {
  margin: 35px 0 60px;
}

.ab__mb_items.ab-mb-live-editor .cm-tooltip {
  display: none;
}

.ab__mb_item-description {
  padding: 0 9px;
}

.ab__mb_item-description .ab-mb-style-presets {
  color: #404040;
}

.ab__mb_item-description .ab-mb-style-presets div {
  color: #404040;
}

.ab__mb_item-description .ab-mb-style-presets.ty-wysiwyg-content {
  position: relative;
}

.ab__mb_item-description .ab-mb-style-presets.ty-wysiwyg-content ul {
  margin: 10px 15px;
  padding-left: 0 !important;
}

.ab__mb_item-description .ab-mb-style-presets.ty-wysiwyg-content ul li {
  padding: 2px 0;
  list-style-position: inside;
  list-style-type: none;
  color: #404040;
}

.ab__mb_item-description .ab-mb-style-presets.ty-wysiwyg-content i {
  font-size: 18px;
  margin-right: 7px;
  color: #404040;
}

.ab__mb_item-description .ab-mb-style-presets.ty-wysiwyg-content .ab-mb-prod-categories-list li {
  color: #737373;
}

.ab__mb_item-description .ab-mb-style-presets.ty-wysiwyg-content .ab-mb-prod-categories-list a:last-child {
  font-weight: bold;
}

.ab__mb_item-description .ab-mb-style-presets span.cm-tooltip {
  position: relative;
  top: 2px;
  left: 2px;
}

.ab__mb_item-description .ab-mb-style-presets span.cm-tooltip.right {
  right: 0;
  margin-right: 0;
}

.ab__mb_item-description .ab-mb-style-presets span.cm-tooltip.left {
  left: 0;
  margin-left: 0;
}

.ab__mb_item-description .ab-mb-style-presets span.cm-tooltip i {
  color: #646464;
  font-size: 14px;
  line-height: 0;
  margin: 0;
}

.ab__mb_item-description .ab-mb-style-presets span.cm-tooltip:hover i,
.ab__mb_item-description .ab-mb-style-presets span.cm-tooltip:focus i {
  color: #575757;
}

@media screen and (max-width: 768px) {
  .ab__mb_item-description span.cm-tooltip .ut2-icon-outline-info-circle {
    display: none;
  }
}
.ab__mb_item-description .desktop-hidden {
  display: none;
}

.ab__mb_item-description.padding-left {
  padding-left: 34px;
}

.redactor-box .cm-tooltip {
  display: none;
}

.ab__mb_item-name {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.ab__mb_items .ab__mb_item {
  padding: 13px 0;
  border-bottom: 1px solid #f0f0f0;
}

@media screen and (min-width: 768px) {
  .ab__mb_items .ab__mb_item {
    padding: 18px 0 16px;
  }
  .ab__mb_items .ab__mb_item:first-child {
    padding-top: 0;
  }
}
.ab__mb_items .ab__mb_item-name {
  word-break: break-all;
  word-break: break-word;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s;
}

.ab__mb_items .ab__mb_item-title {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 24px;
  width: 100%;
  padding-left: 9px;
  padding-right: 25px;
  color: #333;
}

.ab__mb_items .ab__mb_item-title.open {
  margin-bottom: 25px;
}

.ab__mb_items .ab__mb_item-title.open.cm-combination:after,
.ab__mb_items .ab__mb_item-title:hover.cm-combination:after {
  color: #333;
}

.ab__mb_items .ab__mb_item-title.cm-combination {
  padding-right: 55px;
}

.ab__mb_items .ab__mb_item-title.cm-combination:after {
  right: 40px;
  width: 10px;
  height: 10px;
  content: "";
  position: absolute;
  background: url("images/icons/chevron-down.svg") center/contain no-repeat transparent;
  transform: rotate(-90deg);
}

.ab__mb_items .ab__mb_item-title.cm-combination.open:after {
  transform: rotate(180deg);
}

.ab__mb_items .ab__mb_item-title.cm-combination svg + div {
  padding-left: 11px;
}

.ab__mb_items .ab__mb_item-title .ty-pict {
  width: 24px;
  height: auto;
  max-height: 24px;
}

.ab__mb_items .ab__mb_item-icon {
  font-style: normal;
  margin-right: 7px;
  font-size: 24px;
  color: #646464;
}

.ab__mb_items .ab__mb_item:hover .ab__mb_item-name,
.ab__mb_items .ab__mb_item:hover .ab__mb_item-title.cm-combination:after {
  color: #646464 !important;
}

@media screen and (max-width: 768px) {
  .ab__mb_items.fill:not(.colored) .ab__mb_item .ab__mb_item-title.cm-combination {
    padding-left: 0;
  }
}
.ab__mb_items.framed {
  border: 2px solid #f0f0f0;
  border-radius: 18px;
}

.ab__mb_items.framed .ab__mb_item {
  padding: 11px 0 12px 0;
  background: none !important;
}

.ab__mb_items.framed .ab__mb_item-title.cm-combination.open:after,
.ab__mb_items.framed .ab__mb_item-title.cm-combination:hover:after {
  background: rgba(200, 200, 200, 0.3);
  border-radius: 18px;
}

.ab__mb_items.colored {
  border-radius: 18px;
}

.ab__mb_items.colored .ab__mb_item {
  margin-bottom: 3px;
  padding: 12px 0;
  border-top: 0 none;
}

.ab__mb_items.colored .ab__mb_item:last-child {
  margin-bottom: 0;
}

.ab__mb_items.colored.framed .ab__mb_item {
  padding: 11px 0 10px 0;
  border-color: #f0f0f0 !important;
}

.ab__mb_items.colored.framed .ab__mb_item:not(:first-child) {
  border-top: 1px solid #f0f0f0;
}

@media screen and (min-width: 768px) {
  .ut2-big-image .ab__mb_items {
    margin: 10px 0;
  }
  .ut2-big-image .ab__mb_items.fill:not(.colored) .ab__mb_item:first-child {
    border-top: 1px solid #f0f0f0;
    padding-top: 10px;
  }
  .ut2-big-image .ab__mb_items.fill:not(.colored) .ab__mb_item:last-child {
    padding-bottom: 10px;
    border-bottom: 1px solid #f0f0f0;
  }
}
@media screen and (max-width: 992px) and (min-width: 768px) {
  .ut2-big-image .ab__mb_items .ab__mb_item-title {
    padding-left: 0;
  }
  .ut2-big-image .ab__mb_items .ab__mb_item-title.cm-combination:after {
    right: 5px;
  }
}
@media screen and (max-width: 767px) {
  .ut2-big-image .ab__mb_items {
    margin: 10px 0;
  }
  .ut2-big-image .ab__mb_items .ab__mb_item:first-child {
    padding-top: 15px;
  }
  .ut2-big-image .ab__mb_items .ab__mb_item:last-child {
    padding-bottom: 15px;
  }
}
.ut2-pb__second .ab__mb_items.fill:not(.colored) .ab__mb_item-title {
  padding: 0 25px 0 0;
}

.ut2-pb__second .ab__mb_items.fill:not(.colored) .ab__mb_item-title.cm-combination:after {
  right: 0;
}

/** responsive **/
@media screen and (min-width: 496px) {
  .span16 .ut2-pb .ty-tabs__content {
    padding: 40px 0;
  }
}
@media screen and (min-width: 768px) {
  .cat-content-grid .side-grid {
    top: 60px;
    width: 33.3333%;
    position: sticky;
  }
  .cat-content-grid .main-content-grid:not(.span16) {
    width: 66.6666%;
    margin-left: 0;
  }
  .ut2-pb .ty-breadcrumbs {
    border-bottom: none;
  }
  .ut2-filters > div {
    border: none;
    padding: 21px 29px;
    background: #fff;
    box-shadow: 0 0 0 1px #d9d9d9;
  }
  .ut2-pb__img-wrapper {
    padding-right: 15px;
  }
}
@media screen and (min-width: 769px) {
  .ty-tabs__list {
    padding-right: 0;
  }
  .ab__sf_cat_desc .ty-wysiwyg-content p,
  .ab__sf_cat_desc .ty-wysiwyg-content li,
  .ab__sf_cat_desc .ty-wysiwyg-content tr > * {
    font-size: 16px;
  }
}
@media screen and (min-width: 1025px) {
  .cat-content-grid .side-grid {
    width: 25%;
  }
  .cat-content-grid .main-content-grid:not(.span16) {
    width: 75%;
  }
}
@media screen and (min-width: 1221px) {
  .menu-body {
    max-height: calc(100vh - 200px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  body.is_scrolled .menu-body {
    max-height: calc(100vh - 100px);
  }
}
@media screen and (max-width: 1220px) {
  .container {
    width: 100%;
    max-width: 100%;
  }
  body.is_scrolled .header-info {
    padding-bottom: 65px;
  }
  body.is_scrolled .menu-wrapper {
    padding: 10px 20px;
  }
  .mobile-logo {
    height: 40px;
  }
  .mobile-icon._active span {
    transform: none;
    opacity: 0;
  }
  .header-nav {
    top: 160px;
    width: 360px;
    bottom: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding-bottom: 30px;
  }
  .header-nav._active {
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .menu-body._active {
    left: 0;
    width: 100%;
  }
  .menu-hover__body {
    left: 0;
    width: 100%;
    position: static;
  }
  .burger-item__info {
    left: 0;
    width: 100%;
    padding: 0;
    overflow: visible;
    max-height: none;
  }
  .burger-item__info.active {
    z-index: 1;
  }
  .second-menu.active {
    margin-top: 0;
  }
  .second-menu.second-menu-el7,
  .second-menu.second-menu-el6,
  .second-menu.second-menu-el5,
  .second-menu.second-menu-el4,
  .second-menu.second-menu-el3,
  .second-menu.second-menu-el2,
  .second-menu.second-menu-el1 {
    top: 100%;
    width: 100%;
    height: 330px;
    position: absolute;
    overflow-y: auto;
  }
  .second-menu__item a {
    padding: 15px 21px;
  }
  .burger-item__info .burger-logo {
    top: 25px;
  }
  body.is_scrolled .header-nav {
    top: 58px;
  }
  .header-nav > li {
    width: 100%;
  }
  .hover-li {
    height: auto;
  }
  .burger-item__info .hover-menu-title {
    padding: 15px 0 15px 21px;
  }
  .social-info {
    padding: 0 24px;
    margin-top: auto;
  }
}
@media screen and (max-width: 1124px) and (min-width: 768px) {
  .ty-product-list .ut2-pl__control {
    min-width: 0;
    max-width: none;
  }
}
@media (min-width: 1224px) {
  .row-fluid .span8 {
    width: 100%;
    float: none;
    margin-left: 0;
  }
}
@media screen and (max-width: 1024px) {
  .mse2_results--flex > * {
    flex: 1 1 50%;
    max-width: 50%;
  }
  .ty-sidebox-important__title-wrapper {
    font-size: 26px;
  }
}
@media screen and (max-width: 992px) {
  .ty-product-list .ut2-pl__control .ty-btn + .ty-btn {
    margin-left: 0;
  }
  .ty-wysiwyg-content .services-list > * {
    flex: 1 1 33.3333%;
    max-width: 33.3333%;
  }
}
@media screen and (max-width: 812px) {
  .mse2_number_inputs .form-group .input-sm {
    font-size: 14px;
  }
  input[type=text],
  input[type=password],
  input[type=tel],
  input[type=number],
  textarea,
  select {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .container-fluid-row > .row-fluid {
    padding-left: 25px;
    padding-right: 25px;
  }
  .ty-sidebox-important__title-wrapper {
    font-size: 22px;
  }
  .main-content-grid #mse2_results {
    margin: 0;
  }
  .ty-breadcrumbs__a,
  .ty-breadcrumbs__current {
    font-size: 12px;
  }
  .ty-breadcrumbs__slash {
    margin: 0 3px 0 9px;
    font-size: 12px;
  }
  .ty-breadcrumbs__current,
  .ty-breadcrumbs + a.ut2-btn.hidden {
    display: inline-block;
  }
  .ut2-extra-block-title .ty-mainbox-title {
    font-size: 22px;
    margin-bottom: 1px;
  }
  .cat-content-grid .side-grid {
    width: 25%;
  }
  .is_scrolled .menu-wrapper {
    padding: 10px 25px;
  }
  .subcategories {
    padding: 30px 0 27px;
    margin-left: -15px;
  }
  .ty-dropdown-box.ut2-filters .ty-dropdown-box__title.open + div.ty-dropdown-box__content {
    padding: 20px 30px;
  }
  .is_scrolled .ty-dropdown-box.ut2-filters div.ty-dropdown-box__content,
  .is_scrolled .ty-dropdown-box.ut2-categories div.ty-dropdown-box__content {
    top: 59px;
  }
  .ty-dropdown-box.ut2-filters .ut2-btn-close,
  .ty-dropdown-box.ut2-categories .ut2-btn-close {
    top: 10px;
    right: 10px;
  }
  .ty-wysiwyg-content td,
  .ty-wysiwyg-content th {
    min-width: -moz-min-content;
    min-width: min-content;
  }
  .ty-subcategories__item.cat-img {
    flex: 1 1 calc(50% - 15px);
    margin: 30px 0 0 15px !important;
    max-width: calc(50% - 15px);
  }
  .subcategories-popular {
    padding: 0;
    margin-left: -30px;
  }
  .subcategories-popular .ty-subcategories__item {
    margin-left: 30px;
  }
  .popular-button {
    bottom: 30px;
  }
  .ty-subcategories-img {
    height: 95px;
  }
  .ty-subcategories__item img + span {
    font-size: 12px;
    margin-top: 13px;
  }
  .ty-subcategories__item span {
    font-size: 14px;
  }
  .ty-dropdown-box.ut2-filters {
    margin-top: 0;
    margin-bottom: 0;
  }
  .ty-dropdown-box.ut2-filters .ty-dropdown-box__title,
  .ty-dropdown-box.ut2-categories .ty-dropdown-box__title {
    height: 35px;
    border: none;
    padding: 0;
    box-shadow: none;
    background: #ffc700;
    border-radius: 0;
  }
  .ty-dropdown-box.ut2-filters .ty-dropdown-box__title:hover,
  .ty-dropdown-box.ut2-categories .ty-dropdown-box__title:hover {
    box-shadow: none;
    background: #ffc700;
  }
  .ty-dropdown-box.ut2-filters .ty-dropdown-box__title a {
    display: none;
  }
  .cat-content-grid .side-grid {
    width: 35px;
    margin: 30px 0 -10px !important;
    padding: 0;
  }
  .mse2_pagination,
  .ab__sf_cat_desc {
    float: none;
    width: 100%;
  }
  .ty-pagination__item,
  .ty-pagination__selected {
    height: 35px;
    min-width: 35px;
    line-height: 35px;
  }
  .ty-pagination .ty-pagination__selected ~ a:not(:nth-last-child(2)) {
    display: none;
  }
  .ty-pagination .ty-pagination__selected + a,
  .ty-pagination .ty-pagination__selected + a + a {
    display: inline-block !important;
  }
  .ty-wysiwyg-content * {
    font-size: 14px;
  }
  .ty-wysiwyg-content h2 {
    font-size: 20px;
  }
  .ty-wysiwyg-content h3 {
    font-size: 18px;
  }
  .ab__mb_items .ab__mb_item-name {
    font-size: 14px;
  }
  .ab__mb_items .ab__mb_item-title.cm-combination:after {
    right: 20px;
  }
  .ab__mb_items .ab__mb_item-title.cm-combination {
    padding-right: 35px;
  }
  .ty-subheader,
  div.ty-mainbox-title,
  .ty-footer-form-block__title,
  a.ty-quick-view__title {
    font-size: 20px;
  }
  .ty-tabs__content .owl-theme .owl-controls .owl-page span {
    width: calc(100% - 10px);
    margin: 5px 5px;
  }
  .benefits {
    border-top: none;
  }
  .benefits .benefit:nth-child(2n) {
    border-left: none;
    border-right: none;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
  }
  .ty-wysiwyg-content .services-list > * {
    flex: 1 1 50%;
    max-width: 50%;
  }
  .ty-wysiwyg-content .services-list a {
    font-size: 14px;
    padding-top: 1em;
  }
}
@media screen and (max-width: 575px) {
  .mse2_results--flex > * {
    flex: 1 1 100%;
    max-width: 100%;
  }
  .subcategories-popular {
    max-height: 6.5em;
  }
  .popular-button {
    right: 50%;
    transform: translate(50%, 150%);
  }
  .subcategories-popular-wrapper._expanded .popular-button {
    transform: translate(50%, 150%);
  }
  .ty-wysiwyg-content .services-list {
    margin-top: -40px;
    margin-left: -15px;
  }
  .ty-wysiwyg-content .services-list > * {
    padding-top: 40px;
    padding-left: 15px;
  }
}
@media screen and (max-width: 479px) {
  .span16 > .ty-tabs__content .owl-controls {
    display: none !important;
  }
  .header-nav {
    width: 100%;
  }
}
@media screen and (max-width: 390px) {
  .header-nav._active {
    width: 100%;
  }
}